#two{
    background-color: hotpink;
    color: aqua;
    font-size: xx-large;
    font-weight: bolder;
    font-family: "cursive";
}
#three{
    background-color: black;
    color: snow;
    font-size: xx-large;
}
#four{
    background-color: #50aeb8;
    color: black;
    font-size: xx-large;
}